.navbar {
  background-color: #D899DB; 
  color: #B4B6D9;
  text-decoration: none;
  font-family: "josefin-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 100vw;
}

.navbar-brand {
  color: #B4B6D9;
  margin-left: 1px;
}

.nav-link {
  color: #B4B6D9 !important;
  padding: 1px;
}

.navbutton {
  background-color: #E6E6FA;
  color: #2F39C5;
}

.react-icons {
  font-size: 1.5rem;
  color: #2F39C5;
  vertical-align: middle;
}

.custom-navbar .ml-auto {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.custom-navbar .nav-link {
  margin-right: 10px;
}

